<%= form_for([@board, @new_post], :html => {:multipart => true}) do |f| %>
  <% if @new_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @new_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @new_post.post.present? %>
    <%= hidden_field_tag :post_id, @new_post.post.id %>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :emailp %><br />
    <%= f.text_field :emailp %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= image_tag(@new_post.photo_url) if @new_post.photo? %>
    <%= f.file_field :photo %>
    <%= f.hidden_field :photo_cache %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
